<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	android:installLocation="preferExternal" package="com.drodin.tuxrider"
	android:versionCode="12" android:versionName="1.0.10">
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18"/>
	<supports-screens android:anyDensity="true"
		android:smallScreens="true" android:normalScreens="true"
		android:largeScreens="true" />
	<application android:icon="@drawable/icon" android:label="Tux Rider" android:allowBackup="true">
		<activity android:name=".Installer"
			android:multiprocess="false" android:screenOrientation="landscape"
			android:configChanges="keyboardHidden|orientation"
			android:windowSoftInputMode="stateAlwaysHidden" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".MainActivity" android:launchMode="singleTask"
			android:multiprocess="false" android:screenOrientation="landscape"
			android:configChanges="keyboardHidden|orientation"
			android:windowSoftInputMode="stateAlwaysHidden" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
		</activity>
		<activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
		<meta-data android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version" />
	</application>
</manifest>
